extends ../layout

block head
  meta(name="robots" content="noindex")

block assets
  link(rel="stylesheet" href="/stylesheets/pages/admin/admin.css")

block content
  div.p16
    h1 Admin Portal
    p.limit-width Only users with permissions (usually staff) can view this page.

    .spacer.v20

    .links-container
      a.link(href="/admin/award-history" style=`display: ${displays.permission.viewAwardHistory.block}`)
        h2 Award History
        p A list of all the awards which have been granted to users in chronological order.

      a.link(href="/admin/checklist" style=`display: ${displays.permission.manageChecklist.block}`)
        h2 Checklist
        p Manage the user checklist items.

      a.link(href="/admin/mics" style=`display: ${displays.permission.manageMics.block}`)
        h2 Award MICs
        p Set the MICs for each award.

      a.link(href="/admin/house-points" style=`display: ${displays.permission.manageHousePoints.block}`)
        h2 House Points
        p Set the current house points for each house, and whether the standings should be displayed on the home page.

      a.link(href="/admin/new-awards" style=`display: ${displays.permission.viewNewAwards.block}`)
        h2 New Awards
        p A list of awards which have recently been achieved by pupils. This page was created to make it easy to know which awards have not yet been awarded in assembly.

      a.link(href="/admin/signoff-requests" style=`display: ${displays.permission.manageAwards.block}`)
        h2 Signoff Requests
        p All requests made by users for their awards and signoffs to be signed off.

      a.link(href="/admin/permissions" style=`display: ${displays.permission.managePermissions.block}`)
        h2 User Permissions
        p Manage the permissions of other users.