extends ./profile-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/profile/profile.css")
  script(src="/javascripts/profile/profile.js")

block sidebar
  .spacer.v20
  joined-buttons#profile-view-buttons
    button(onclick="setView(0)") Awards
    button(onclick="setView(1)") Stats

block profile-content
  #views
    .view.p16
      h1 Awards

      .spacer.v10

      table#awards-display

    .view
      .spacer.v20

      .center-cards
        .cards
          .row
            .card
              p.number= profilePlaceholders.stats.totalAwards0
              p.type Total awards.
              .spacer.v20
              p.description.
                There are 12 awards in total that users can earn.
                Of the #{profilePlaceholders.stats.totalAwards} award#{profilePlaceholders.stats.totalAwardsPlural} which #{profileUser.titleSurname} has earned, #{profilePlaceholders.stats.totalBaseAwards} of them are base awards.
              .spacer.v20
              a(href="/awards") Awards
                .underline
            .card
              p.number= profilePlaceholders.stats.opPoints
              p.type OP points earned.
              .spacer.v20
              p.description.
                Earn points by taking part in OP trips like hikes and paddling trips.
                With enough points, you'll be displayed on the leaderboards.
              .spacer.v20
              a(href="/leaderboards") Leaderboards
                .underline
          .row
            .card
              p.number= profilePlaceholders.stats.totalDistanceRun
              p.type km of distance run.
              .spacer.v20
              p.description.
                Log your runs at the Running Award page to increase your total distance.
                Compete with others for the furthest total distance.
              .spacer.v20
              a(href="/awards/running") Running Award
                .underline
            .card
              p.number= profilePlaceholders.stats.totalPaddlingTrips
              p.type Paddling trips.
              .spacer.v20
              p.description.
                Log your padding trips at the Kayaking Award page to increase your total kayaking trips done.
                Compete with others for most trips done.
              .spacer.v20
              a(href="/awards/kayaking") Kayaking Award
                .underline

      .spacer.v20