extends ../layout

block content
  script(src="/javascripts/layouts/profile-layout.js")

  #corner-details
    img(src=profileUser.profilePicture)
    p= profileUser.titleName

  .col1
    .spacer.v20

    .name-and-picture
      img(src=profileUser.profilePicture)
      p= profileUser.titleName

    .spacer.v20

    p.pl16= grade
    p.email.pl16= profileUser.email

    div(style=`display: ${displays.permission.manageAwards.block}`)
      .spacer.v20

      joined-buttons#profile-page-buttons
        a(href=`/profile/${profileUser.id}`) Profile
        a(href=`/profile/${profileUser.id}/admin`) Admin
      script.
        function getProfileUserId() {
          return parseInt(location.pathname.split("/")[2])
        }

        const profilePageButtons = byId("profile-page-buttons")
        const page = location.pathname.split("/")[3]
        let selected

        if (page === "admin") {
          selected = 1
        } else if (page === "requests") {
          selected = 2
        }
        if (selected) profilePageButtons.setAttribute("selected", selected)

    block sidebar

  .col2
    block profile-content