extends ./profile-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/profile/profile.css")
  script(src="/javascripts/profile/profile.js")

block sidebar
  .spacer.v20

  .line

  .spacer.v20

  joined-buttons#profile-view-buttons
    button(onclick="setView(0)") Awards
    button(onclick="setView(1)") Stats
    button(onclick="setView(2)" style=`display: ${riseLinkDisplay}`) RISE

block profile-content
  #views
    .view.p16
      h1 Awards

      .spacer.v10

      table#awards-display

    .view.stats
      .stat-cards
        .card
          p.value= stats.totalAwards
          p.description Total awards
          .material-icons.open(onclick="window.open('/awards')") open_in_new
          .material-icons.info info
            p Total number of awards achieved.
        .card
          p.value= stats.firstLevelAwards
          p.description First-level awards
          .material-icons.open(onclick="window.open('/awards')") open_in_new
          .material-icons.info info
            p Total number of awards achieved, excluding instructor and leader awards.
        .card
          p.value= stats.distanceRun
          p.description Distance run
          .material-icons.open(onclick="window.open('/awards/running')") open_in_new
          .material-icons.info info
            p Total distance run for the Running Award.
        .card
          p.value= stats.paddlingTrips
          p.description Paddling trips
          .material-icons.open(onclick="window.open('/awards/kayaking')") open_in_new
          .material-icons.info info
            p Total number of paddling trips done for the Kayaking Award.
        .card
          p.value= stats.distancePaddled
          p.description Distance paddled
          .material-icons.open(onclick="window.open('/awards/kayaking')") open_in_new
          .material-icons.info info
            p Total distance paddled for the Kayaking Award.
        .card
          p.value= stats.distanceSwum
          p.description Distance swum
          .material-icons.open(onclick="window.open('/awards/midmar-mile')") open_in_new
          .material-icons.info info
            p Total distance swum during training for the Midmar Mile Award.
        .card
          p.value= stats.hikingTrips
          p.description Hiking trips
          .material-icons.open(onclick="window.open('/awards/drakensberg')") open_in_new
          .material-icons.info info
            p Total hiking trps done for the mountaineering awards.
        .card
          p.value= stats.distanceHiked
          p.description Distance hiked
          .material-icons.open(onclick="window.open('/awards/drakensberg')") open_in_new
          .material-icons.info info
            p Total distance hiked for the mountaineering awards.
        .card
          p.value= stats.elevationGain
          p.description Elevation gained
          .material-icons.open(onclick="window.open('/awards/drakensberg')") open_in_new
          .material-icons.info info
            p Total elevation gained during hiking for the mountaineering awards.
        .card
          p.value= stats.serviceHours
          p.description Service hours
          .material-icons.open(onclick="window.open('/awards/service')") open_in_new
          .material-icons.info info
            p Total hours of service completed for the Service Award.

      .spacer.v20

      .progresses
        .progresses-col1
          h2 Team Award
          meter.stripes(max=4 value=stats.firstLevelAwards)

          h2 Half Colours
          meter(max=7 value=stats.firstLevelAwards)

          h2 Colours
          meter(max=10 value=stats.firstLevelAwards)

        .progresses-col2
          .heading-line
            h2 Honours
            .material-icons(onclick="window.open('/award-requirements')") open_in_new
          .spacer.v10
          .circle-progress(style=`--p: calc(${stats.totalAwards} / 24 * 100%)`)

      .spacer.v40

    .view.p16
      h1 RISE Checklist
      p.limit-width Your RISE checklist, where you can view which achievements you have completed and which ones you still need to complete. Only you and certain staff members can view this page.

      .spacer.v20

      #checklist-container

      script.
        console.log("#{riseLinkDisplay}")
        if ("#{riseLinkDisplay}" === "block") {
          loadChecklist()
        }