extends ./head

block body
  script(src="/javascripts/layouts/layout.js")

  .topbar
    img.logo(src="/assets/logos/logo.svg" onclick="location.href='/'")
    .links
      a#home-tab(href='/') Home
      a#awards-tab(href='/awards') Awards
      script.
        const path = location.pathname

        if (path === "/") {
          byId("home-tab").classList.add("selected")
        } else if (path === "/awards") {
          byId("awards-tab").classList.add("selected")
        }

    .search
      #search-icon.material-icons search
      .vertical-line
      input#search-input(type='text' placeholder='Search..')

    a.sign-in(href="/login" style=`display: ${displays.loggedIn.false.block}`) Sign In
    #account-display(style=`display: ${displays.loggedIn.true.flex}`)
      img(src="/assets/backgrounds/awards/midmar-mile.jpg")
      div
        p.name= userInfo.fullName
        p.email= userInfo.email

    #sidebar-icon.hamburger-icon
      div
      div
      div

  .topbar-spacer

  #sidebar
    a(href="/") Home
    a(href="/awards") Awards
    a(href="/leaderboard") Leaderboard
    a(href="/login") Sign In
    a(href="/settings") Settings
    a Profile
    a Admin
    button#logout-button(style=`display: ${displays.loggedIn.true.block}`) Log Out

  .block-content-container
    block content

  footer
    p.a &copy 2023 <a href="/">TOPAL</a>
    a.treverton-link(href="https://www.treverton.co.za" target="_blank") TREVERTON

  block script