extends ./head

block body
  script(src="/javascripts/layouts/layout.js")

  header
    img#logo(src="/assets/logos/logo.svg")
    #header-links
      a(href='/') Home
        .underline
      a(href='/awards') Awards
        .underline
      a(href='/leaderboards') Leaderboards
        .underline
      a(href='/settings' style=`display: ${displays.loggedIn.true.flex}`) Settings
        .underline
      a(href=`/profile/${user.id}` style=`display: ${displays.loggedIn.true.flex}`) Profile
        .underline
      a.search-link(href=`/search`) Search
        .underline
      a(href=`/admin` style=`display: ${displays.permission.any.flex}`) Admin
        .underline

    .search
      #search-icon.material-icons search
      .vertical-line
      input#search-input(type='text' placeholder='Search..')

    a.sign-in.signin-link(style=`display: ${displays.loggedIn.false.block}`) Sign In
    #account-display(style=`display: ${displays.loggedIn.true.flex}`)
      img(src=user.profilePicture)
      div
        p.name= user.fullName
        p.email= user.email

    #sidebar-icon.hamburger-icon
      div
      div
      div

  .header-spacer

  #sidebar
    a(href="/") Home
    a(href="/awards") Awards
    a(href="/leaderboards") Leaderboards
    a(href="/search") Search
    a(href="/settings") Settings
    a(href=`/profile/${user.id}` style=`display: ${displays.loggedIn.true.block}`) Profile
    a(href=`/admin` style=`display: ${displays.permission.any.flex}`) Admin
    a.signin-link(style=`display: ${displays.loggedIn.false.block}`) Sign In
    button#logout-button(style=`display: ${displays.loggedIn.true.block}`) Sign Out

  .content-block-container
    block content

  footer
    .footer-col1
      img#footer-treverton-logo(src="/assets/logos/treverton-logo.jpg")
      .help
        h3 Have Questions?
        p.
          Get help with the website by sending an email
          <a href="https://mail.google.com/mail/?view=cm&to=4jencal@treverton.co.za&su=Topal" target="_blank">here</a>.
          Not for help with awards.
    .footer-col2
      div
        p.heading Awards
        a(href="/honours") Honours Requirements
      div
        p.heading School
        a(href="https://treverton.co.za" target="_blank") Treverton
        a(href="https://treverton.co.za/contact" target="_blank") Contact
      div
        p.heading Credits
        p by Caleb Jennings
      div
        p.heading Special Thanks
        p Mr Beddy
        p Mr Townsend
    .footer-col3
      p &copy 2023 <a href="/">TOPAL</a>

  script.
    byId("account-display").addEventListener("click", openLinkOnClick("/profile/#{user.id}"))
    byId("footer-treverton-logo").addEventListener("click", () => window.open("https://treverton.co.za", "_blank"))
    byId("logo").addEventListener("click", openLinkOnClick("/"))

    const path = location.pathname
    let selectedLink

    if (path === "/") {
      selectedLink = 0
    } else if (path === "/awards") {
      selectedLink = 1
    } else if (path === "/leaderboards") {
      selectedLink = 2
    } else if (path === "/settings") {
      selectedLink = 3
    } else if (path === "/search") {
      selectedLink = 5
    } else if (path === "/admin") {
      selectedLink = 6
    } else if (isLoggedIn()) {
      const parts = path.split("/")
      if (parts[1] === "profile" && parts[2] == #{user.id} && (parts[3] == null || parts[3].length === 0)) selectedLink = 4
    }

    if (selectedLink != null) byId("header-links").children[selectedLink].classList.add("selected")

  block script